Django~=4.0.4
gunicorn
psycopg2
cryptography
djangorestframework~=3.13.1
django-filter~=21.1
django-cors-headers
drf-yasg
django-allauth~=0.50.0
django-url-filter
django-safedelete
bcrypt
python-dotenv~=0.20.0
python-dateutil
rest-framework-roles
django-rest-swagger
dj-rest-auth
Pillow~=9.1.0
deepface
django-cleanup
channels~=3.0.4
channels-redis
asgi-redis
redis
asgiref~=3.5.2
pandas~=1.4.2
numpy~=1.22.3
opencv-python~=4.5.5.64
requests~=2.27.1
# tensorflow~=2.8.0