<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="x-apple-disable-message-reformatting">
    <title>Title</title>
</head>

<body
    style="width: 100%; height: 300px; background-color: cadetblue; display: flex; flex-direction: column; align-items: center; justify-content: center;">
    <div
        style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; font-family: 'Lato', sans-serif; color: #fff; padding: 0 2.5em; text-align: center;">
        <p>Enter the code below to activate your email account:</p>
        <h1
            style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; color: #fff; margin-top: 0; font-weight: 400; font-size: 35px; font-family: 'Lato', sans-serif;">
            {{ code }}</h1>
    </div>
</body>

</html>